.commentBody {
    padding: .5rem;
}

.commentTitle {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: .3rem;
    font-size: .8rem;
}

.commentTitle .commentTime {
    margin-left: .2rem;
    opacity: var(--opacity);
}

.commentTitle .commentEdit {
    margin-left: .2rem;
    opacity: var(--opacity);
}

.commentContainer {
    padding: .5rem;
}

.comment {
    border-top: 1px rgb(167, 167, 167) solid;
}



.cardContentComment {
    display: flex;
    flex-flow: row;
    width: 50%;
    justify-content: space-between;
    opacity: 70%;
    font-size: .8rem;
    align-items: center;
}

.counterContent p {
    color: black;
    font-weight: bold;
}

.Reply p {
    margin-left: .2rem;
}

/* cardContent items */

.Reply {
    display: flex;
    align-items: center;
    height: var(--height-options);
}

.Share {
    padding: .2rem;
    height: var(--height-options);
    display: flex;
    position: relative;
}

.Share button {
    border: none;
    background: none;
    cursor: pointer;
}

.Report {
    padding: .2rem;
    height: var(--height-options);
    display: flex;
    align-items: center;
}

.Save {
    padding: .2rem;
    height: var(--height-options);
    display: flex;
    align-items: center;
}

.Follow {
    padding: .2rem;
    height: var(--height-options);
    display: flex;
    align-items: center;
}

/* cardContent Hover Effect */

.Reply:hover {
    background-color: var(--hover-color);
    
}

.Share:hover {
    background-color: var(--hover-color);
}

.Report:hover {
    background-color: var(--hover-color);
}

.Save:hover {
    background-color: var(--hover-color);
}

.Follow:hover {
    background-color: var(--hover-color);
}