.dropDownMenu {
    width: auto;
}

.menu {
    z-index: 5;
    display: block;
    position: absolute;
}

.menu li{
    padding: .7rem;
    display: block;
    background-color: white;
    border: 1px black solid;
}

.menu li:hover{
    background-color: var(--hover-color);
}

.fItem {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.sItem {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.tItem {
    display: flex;
    flex-flow: row;
    align-items: center;
}